@import './assets/fonts/fonts.css';

#nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 1;
}

#nav-background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* -webkit-backdrop-filter: saturate(180%) blur(20px); */
  /* backdrop-filter: saturate(180%) blur(20px); */
  background-color: rgba(255,255,255,0.7);
  transition: background-color .5s ease;
  /* transition-property: background-color,backdrop-filter,-webkit-backdrop-filter; */
}

#nav-content {
  display: flex;
  padding: 0 1.3rem;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  justify-content: space-between;
}

#nav-pre {
  display: flex;
  overflow: hidden;
  padding-left: 1.3rem;
  margin-left: -1.3rem;
}

body { 
  height: 30em;
}

#nav-title {
  display: flex;
  height: var(--nav-height);
  align-items: center;
  /* box-sizing: border-box; */
  cursor: default;
  line-height: 27px;
  font-family: 'SF Pro';
  font-size: 19px;
  font-weight: 600;
  letter-spacing: -0.152px;
  color: rgb(29,29,31);
}

#nav-title a {
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  color: inherit;
  font-family: 'SF Pro';
  font-size: inherit;
  font-weight: inherit;
}

#nav-menu {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  letter-spacing: -0.12px;
  color: rgb(81,81,84);
}

#nav-menu-tray {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  visibility: visible;
}

#nav-menu-options {
  display: flex;
  justify-content: flex-end;
  /* background-color: pink; */
}

#nav-menu-options li {
  margin-left: 1.4rem;
  min-width: 0;
}

#nav-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#nav-menu-mobile {
  display: none;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  width: 1.17rem;
  height: 2.8rem;
}

#nav-menu-chevron {
  display: block;
  position: relative;
  width: 100%;
  height: 0.7rem;
  transition: transform 1s cubic-bezier(.86,0,.07,1),transform-origin 1s cubic-bezier(.86,0,.07,1);
}

#nav-menu-chevron[dir="down"] {
  transform: translateY(0);
}

#nav-menu-chevron[dir="up"] {
  transform: translateY(-8px);
}

#nav-menu-chevron::before,
#nav-menu-chevron::after {
  content: "";
  display: block;
  position: absolute;
  top: .588rem;
  width: .705rem;
  height: .0588rem;
  background: #232128; /* WOOOOOO TRANSITION */
  transition: transform 1s cubic-bezier(.86,0,.07,1),transform-origin 1s cubic-bezier(.86,0,.07,1);
}

#nav-menu-chevron[dir="down"]::before {
  transform-origin: 100% 100%;
  transform: rotate(40deg) scaleY(1.5);
  right: 50%;
  border-radius: .5px 0 0 .5px;
}

#nav-menu-chevron[dir="down"]::after {
  transform-origin: 0 100%;
  transform: rotate(-40deg) scaleY(1.5);
  left: 50%;
  border-radius: 0 .5px .5px 0;
}

#nav-menu-chevron[dir="up"]::before {
  transform: translateY(-8px);
  transform-origin: 100% 0;
  transform: rotate(-40deg) scaleY(1.5);
  right: 50%;
  border-radius: .5px 0 0 .5px;
}

#nav-menu-chevron[dir="up"]::after {
  transform: translateY(-8px);
  transform-origin: 0 0;
  transform: rotate(40deg) scaleY(1.5);
  left: 50%;
  border-radius: 0 .5px .5px 0;
}

#sidenav-toggle-wrapper {
  display: none;
  margin-top: 1px;
}

#sidenav-toggle {
  position: relative;
  align-self: center;
  margin: 0 -5px;
  color: #232128;
  direction: ltr;
  text-align: left;
}

#sidenav-icon-wrapper {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

#sidenav-icon-wrapper svg {
  width: 20px;
  height: 20px;
}

#sidenav-toggle-separator {
  height: 0.8em;
  width: 1px;
  background: rgb(81,81,84);
  align-self: center;
  margin: 0 1.3rem;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex; /* maybe remove? */
  width: 100%;
  height: var(--nav-height);
  z-index: 99;
  border-bottom: 0.8px solid var(--border-grey);
}

ol, ul {
  margin: 0;
  list-style: none;
}

a, li {
  text-decoration: none;
  color: #232128;
}

li {
  display: list-item;
  text-align: match-parent;
}

button {
  background: none;
  border: none;
}

svg {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  --webkit-transform: scale(1);
  overflow: visible;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: 'SF Pro';
  font-weight: 300;
  font-size: 1.2em;

  --asphalt: #232128;
  --nav-height: 2.75rem;
  --border-grey: #d2d2d2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size-adjust: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media only screen and (max-width: 1023px) {
  #sidenav-toggle-wrapper {
    display: flex;
    margin-top: 1px;
  }
}

/* Mobile format so 2 menus */
@media screen and (max-width:767px) {
  header {
    min-width: 320px;
    height: 2.8rem;
  }

  body[status="fixed"] {
    overflow: hidden;
  }

  body[status="free"] {
    overflow: auto;
  }

  #nav-content {
    display: grid;
    padding: 0 0 0 .94rem;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas: "pre-title title actions" "menu menu menu";
  }

  #nav-content[status="open"] {
    background-color: #f5f5f7;
    border-bottom: 0.8px solid var(--border-grey);
  }

  #nav-pre {
    overflow: visible;
  }

  #nav-title {
    padding-top: 0;
    height: 2.8rem;
    width: 90%;
  }

  #nav-title[status="open"] {
    grid-area: title;
  }

  #nav-title a {
    display: flex;
  }

  #nav-menu {
    overflow: hidden;
  }

  #nav-menu[status="closed"] {
    display: none;
  }

  #nav-menu[status="open"] {
    grid-area: menu;
    font-size: 14px;
    letter-spacing: -0.28px;
  }

  /* hide list of options to have chevron */
  #nav-menu-tray[status="closed"] {
    pointer-events: none;
    visibility: hidden;
    max-height: 0; /* doing nada? */
  }

  #nav-menu-tray[status="open"] {
    display: block;
    pointer-events: auto;
    visibility: visible;
    max-height: (100vh - 42px);
    /* overflow: auto;
    height: 100%; */
 }

  #nav-menu-options {
    display: block;
    padding: 0.88rem 1.88rem 1rem 1.88rem;
  }

  #nav-menu-options[status="closed"] {
    opacity: 0;
    transform: translate3d(0,-150px,0); /* doing nada? */
    /* transition: transform 1s cubic-bezier(.23,1,.32,1) .5s,opacity .7s cubic-bezier(.23,1,.32,1) .2s; */
  }

  #nav-menu-options[status="open"] {
    opacity: 1;
    transform: translateZ(0);
    transition-delay: .2s, .4s; /* doing nada? */
    /* transition: transform 1s cubic-bezier(.23,1,.32,1) .5s,opacity .7s cubic-bezier(.23,1,.32,1) .2s; */
  }

  #nav-menu-options li {
    margin-left: 0;
    width: 100%;
    /* min-height: 2.3rem; */
    transition: .5s ease;
    transition-property: transform, opacity;
    padding: 0;
  }

  #nav-menu-options[status="closed"] li {
    opacity: 0;
    transform: translate3d(0,-25px,0);
    visibility: hidden;
  }

  #nav-menu-options[status="open"] li {
    opacity: 1;
    transform: translateZ(0);
    visibility: visible;
  }

  #nav-menu-options li a {
    display: flex; /* not needed? */
    flex: 1 0 100%; /* not needed? */
    height: 100%; /* not needed? */
    align-items: center; /* not needed? */
    line-height: 42px;
    border-bottom: 1px solid;
    border-color: rgba(209,209,214,0.5);
    white-space: no-wrap;
    color: rgb(29,29,31);
    font-weight: 300;
  }

  #nav-menu-options li:last-child a {
    border-bottom: none;
  }

  /* EXTRA FANCY --- */
  #nav-menu-options[status="closed"] li:first-child {
    transition-delay: .07s;
  }

  #nav-menu-options[status="open"] li:first-child {
    transition-delay: .56s;
  }

  /* --- EXTRA FANCY */

  #nav-actions {
    padding-right: .9rem;
    grid-area: actions;
    padding-right: .94rem;
  }

  #nav-menu-mobile {
    display: flex;
  }

}

@media screen and (max-height:300px) {
  #nav-menu-tray[status="open"] {
    max-height: 100vh;
    overflow-y: auto;
  }

  #nav-menu-options[status="open"] {
    padding-bottom: 3.3rem;
  }
}

@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
  #nav-background {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    transition: background-color .5s ease;
    transition-property: background-color,backdrop-filter,-webkit-backdrop-filter;
  }
}